# .development.env and .production.env can be created if needed, otherwise .env is the default environment
NODE_ENV = # development or production

HOST = # localhost for dev env
PORT = # 3000 for dev env

NYT_API_KEY = 
GUARDIAN_API_KEY = 

#for testing purposes, MAJOR SECURITY RISK
JWT = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6Im1hdXJpY2lvIiwiaWF0IjoxNTE2MjM5MDIyfQ.3MQua9mrOZNfQNvxVgCGn4C3U2SJBBBTmYFIpl896Qc'
SECRET = 'KbPeShVmYq3t6w9z$C&F)H@McQfTjWnZ'
