PORT = # for local server, example 3000 

# MAJOR SECURITY BREACH, DB USER INFO SHOULD NOT BE SHARED, FOR HOMEWORK EVALUATION PURPOSES ONLY
MONGO_URI = 'mongodb+srv://applaudoBlogAdmin:5X3hPRq3KZELPVDW@nodeexpressprojects.m7zg22h.mongodb.net/Blog?retryWrites=true&w=majority'